SECRET_KEY=<django-secret-key>
DATABASE_URL=postgresql://vitachoice_backend_user:<password>@postgres:5432/vitachoice_backend_db
MEDIA_ROOT=/app/media
MEDIA_URL=/media/
DEFAULT_FROM_EMAIL=<onboarding@resend.dev>
CONTACT_EMAIL_RECIPIENT=<support@example.com>
RESEND_API_KEY=<resend-api-key>
