env/
*.env
*/__pycache__/
*.pyc
.vscode
db.sqlite3
.venv/
venv/
.DS_Store
staticfiles/
media/
*.log
db.sqlite3
*.sqlite3
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
